// Typo body
body {
  font-family: $secondary-font;
}

// Typo header
.header__background {
  p {
    font-family: $primary-font;
  }
}

.filter {
  .nombre-recette {
    font-family: $primary-font;
  }
}

.card-title {
  font-family: $primary-font;
}