.filter-section {
  background-color: $bg-grey;
}

.dropdown {
  .btn-white {
    text-align: left;
    background-color: $terciary-color;
    border: none;
    font-weight: bold;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: $border-radius;

    .fa-chevron-up {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    width: 100%;
    background-color: $terciary-color;
    border: none;
    min-width: 0px;

    ul {
      overflow-y: auto;

      li {
        cursor: pointer;
        color: $primary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.show {
    .btn-white {
      border-radius: $border-radius $border-radius 0 0;

      .fa-chevron-down {
        display: none;
      }

      .fa-chevron-up {
        display: inline-block;
      }
    }

    .dropdown-menu {
      display: block;
      border-radius: 0 0 $border-radius $border-radius;
      .loup {
        position: absolute;
        top: 28px;
        right: 23px;
        color: #EDEDED;
      }
    }
  }
}

.filter-container {
  flex-wrap: nowrap;
}

.recipe-count {
  margin-left: auto;
}