// Fonts
$primary-font: 'Anton', sans-serif !default;
$secondary-font: 'Manrope', sans-serif !default;

// Colors
$primary-color: #1B1B1B !default;
$secondary-color: #FFD15B !default;
$terciary-color: #FFF !default;